<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script> <!-- 引入JavaScript文件 -->
</head>
<body>
    <main>
        <!-- 插入主要内容 -->
        <%- body %>
    </main>
    <footer>
        <p>© <%= new Date().getFullYear() %> Birthday Wishes for <%= name %></p>
    </footer>
</body>
</html>
